// restore
*{
  box-sizing: border-box;
}

body{
  position: relative;
  background-color: black;
  color: green;
  margin: 0;
}
 .mainContent{
  padding-top: 5rem;
  /* display: flex;
  justify-content: center; */
 }
/* For Header */
.header{
  padding: 1rem;
  position: fixed;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  z-index: 1;
}
ul{
  display: flex;
}
li{
  list-style: none;
  > a{
    padding: 0 1rem 0 1rem;
  color: gold;
  text-decoration: none;

    :hover{
      color: blue;
      background-color: lightblue;
    }
  }
}

/* For signup form */
.container{
  display: flex;
  justify-content: center;
}
.signup{
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  > div{
    color: black;
    font-size: 1.5rem;
    padding: 15px;
  }
  > form{
    padding: 1rem 3rem;
    > div{
      margin: 10px;
      height: 60px;
      position: relative;
      color: blue;
      > label{
        position: absolute;
        translate: 0 -90%;
      }
      > input{
        height: 80%;
        background-color: skyblue;
        border-color: white;
        border-radius: 5px;
      }
    }
  }
}

.chequeheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.chequecomponent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  margin-top: -5rem;
  width: 30vw;
  z-index: 99;
  height: 100vh;
  background-color: pink;
}

/* for Cheque.jsx */
.chequeForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.chequePDF{
  border: 3px solid yellow ;
}